<ion-view id="page5"  ng-controller="myCtrl">
  <ion-content padding="true" class="has-header">
    <h3 id="orderDetails-heading1" style="color:#000000;font-weight:300;font-style:;text-align:center;">Your Orders<br><br></h3>
    <div class="spacer" style="width: 300px; height: 369px;">
      <div>
        <ion-item-group ng-app="myApp" >
          <ion-item class="orderDetailsItem" ng-repeat="x in records">{{x}}
            <h2assertive id="orderQuantity" class="orderQuantity">0S0L</h2assertive>
            <h2assertive class="orderPrice" id="orderPrice">000</h2assertive>
          </ion-item>
        </ion-item-group>
      </div>
    </div>
    <div class="item item-button-right" onload="editOrderQuantityInfo()">
      Use Paytm
      <div class="buttons">
        <button class="button button-positive">
          <i class="icon icon ion-checkmark"></i>
        </button>
        <!-- <button class="button button-assertive"> -->
          <!-- <i class="icon icon ion-close"></i> -->
        </button>
      </div>
    </div>
    <h4 id="orderDetails-heading2" style="color:#000000;font-weight:300;">Total Amount:</h4>
    <div style="margin-right:-20px;">
      <a  id="orderDetails-button1" style="left:-10px;font-weight:300;" class="button button-positive button-full" ng-click="addproducts()">Continue To Payment</a>
    </div>
  </ion-content>
</ion-view>
