<ion-view id="page5">
  <ion-content padding="true" class="has-header">
    <h3 id="orderDetails-heading1" style="color:#000000;font-weight:300;font-style:;text-align:center;">Your Orders<br><br></h3>
    <div class="spacer" style="width: 300px; height: 369px;">
      <div>
        <ion-item-group>
          <!-- <ion-item class="orderDetailsListHeader">Product</ion-item> -->
          <!-- <ion-list-header>Yours Orders<br><br></ion-list-header> -->

          <ion-item class="orderDetailsItem">Angola</ion-item>
          <ion-item class="orderDetailsItem">Argentina</ion-item>
        </ion-item-group>
        <!-- <ion-list>
          <ion-item ng-repeat="item in items">
            Hello, {{item}}!
          </ion-item>
        </ion-list> -->
      </div>
    </div>
    <h4 id="orderDetails-heading2" style="color:#000000;font-weight:300;">Total Amount:</h4>
    <div style="margin-right:-20px;">
      <a ui-sref="completePayment()" id="orderDetails-button1" style="left:-10px;font-weight:300;" class="button button-positive button-full">Continue To Payment</a>
    </div>
  </ion-content>
</ion-view>
