<ion-pane ng-controller="ExampleController">
  <ion-tabs class="tabs-negetive tabs-icon-top tabs-color-active-custom">
    <ion-tab class="tabIcons1" title="Thick Shakes " icon-on="ion-beer" icon-off="ion-beer">
      <ion-content>
        <ion-slide-box pager-click="navSlide(index)">
          <ion-slide>
            <div class="color-red"></div>
          </ion-slide>
          <ion-slide>
            <div class="color-yellow"></div>
          </ion-slide>
        </ion-slide-box>

        <ion-list id="thickShakes-list5" class="manual-list-fullwidth">

          </label>
          <ion-item class="list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item1">
            <img src="img/SeFUA2SVeFxzc1J4lSAd_17918919_1022150551250014_1097248892_n.png">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div ng-click="moveCard(1)" class="productName">KitKat Milkshake</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i ng-click="subBottle(0,'l')" class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png">
                </img>
                <i ng-click="addBottle(0,'l')" class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p id="numberInTheMiddlwOfTheBottleLarge0" class="numberInsideBottle">0</p>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i ng-click="subBottle(0,'s')" class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i ng-click="addBottle(0,'s')" class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p id="numberInTheMiddlwOfTheBottleSmall0" class="numberInsideBottle">0</p>
              <p class="mLtext">300ml</p>
            </div>
          </ion-item>
        </ion-list>

        <ion-item ng-click="moveCard(2)" class="list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item2">
          <img src="img/YV0asZCURx6wgvPzdXvP_53860_977.jpg">
          <h2assertive>
            <i class="starcolor ion-android-star"></i>
            <i class="starcolor starcolor ion-android-star"></i>
            <i class="starcolor ion-android-star"></i>
            <i class="starcolor ion-android-star"></i>
            <i class="starcolor ion-android-star-half"></i>
            <div class="userNumber">(678)</div>
            <div class="productName">Oreo Milkshake</div>
            <div class="productDetail CustomFont"> Kavintage originals</div>
            <div class="productAmountSmall">₹80 (S)</div>
            <div class="productAmountMedium">₹100 (M)</div>
            <i class="icon ion-android-cart iconNew starcolor"></i>
          </h2assertive>
          <div class="cardSlide">
            <div class="bottleAndButtons">
              <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
              <img class="MilkBottle" src="img/milk-bottle.png"></img>
              <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
            </div>
            <p class="mLtext">500ml</p>
          </div>
          <div class="cardSlide right">
            <div class="bottleAndButtons">
              <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
              <img class="MilkBottle" src="img/milk-bottle.png"></img>
              <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
            </div>
            <p class="mLtext">300ml</p>
          </div>


        </ion-item>
        <ion-list id="thickShakes-list6" class="manual-list-fullwidth">
          <ion-item ng-click="moveCard(3)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item3">
            <img src="img/uyGIF5ZMRVG6N0FA5sNI_Tutty-fruity-shake.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <i class="starcolor ion-android-star-outline"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Tutty Fruity</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(4)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item4">
            <img src="img/HMklG4vKTPGEzQ1MMqCo_04mp_Thandai_shake.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Thandai</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(5)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item5">
            <img src="img/Es9Ry8GVRPek1cLIeL5i_1d8f11e9e2cd9b1f7e0536fe73e9785f.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <i class="starcolor ion-android-star-outline"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Kaser badam</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(6)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item6">
            <img src="img/0gbhfLMCQRWu9kLMN4Hh_bacon-milkshake.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Mint Oreo</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(7)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item7">
            <img src="img/ttIzfQ0BQd6SMGIQE0VB_cafffd9ac3b8df60031f50731d48b7e0.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Strawberry Savory</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(8)" class="zoomInRight animated  list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item8">
            <img src="img/KHu1yFrQS6fWZPxkrcNJ_17918919_1022150551250014_1097248892_n.png">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Chocolate Hazelnut</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>



          </ion-item>
          <ion-item ng-click="moveCard(9)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item9">
            <img src="img/pItHvPi7RjO6hIfCMQFU_53860_977.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Chocolate Peanut Butter</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(10)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item10">
            <img src="img/dzNHjf8xS3udm1QnpjkI_53860_977.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Choco Chip</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>

        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="Flavoured Milk" icon-on="ion-wineglass" icon-off="ion-wineglass">
      <ion-content>
        <ion-slide-box pager-click="navSlide(index)">
          <ion-slide>
            <div class="color-red"></div>
          </ion-slide>
          <ion-slide>
            <div class="color-yellow"></div>
          </ion-slide>
        </ion-slide-box>
        <ion-list id="realShakes-list8" class="manual-list-fullwidth">
          <label class="item item-input" id="realShakes-search3">
        <i ng-click="moveCard()" class="icon ion-search placeholder-icon"></i>

      </label>
          <ion-item ng-click="moveCard(11)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item11">
            <img src="img/UsbFYy5QZSBnspPIuLw8_04mp_Thandai_shake.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Kavintage Raspberry</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(12)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item12">
            <img src="img/DD3I0V6ASYKWrGObgQS8_cafffd9ac3b8df60031f50731d48b7e0.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Kavintage Blueberry</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(13)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item13">
            <img src="img/nY7imrySAytSwS3Cq4A1_bacon-milkshake.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Alphanso Mango</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(14)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item14">
            <img src="img/scUZLQtNTK61oQLbAGxV_53860_977.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Exotique strawberry</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="Real Shakes" icon-on="ion-beaker" icon-off="ion-beaker">
      <ion-content>
        <ion-slide-box pager-click="navSlide(index)" auto-paly="true">
          <ion-slide>
            <div class="color-red"></div>
          </ion-slide>
          <ion-slide>
            <div class="color-yellow"></div>
          </ion-slide>
        </ion-slide-box>
        <ion-list id="flavouredMilk-list7" class="manual-list-fullwidth">
          <label class="item item-input" id="flavouredMilk-search2">
      <i ng-click="moveCard()" class="icon ion-search placeholder-icon"></i>

    </label>
          <ion-item ng-click="moveCard(15)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item15">
            <img src="img/xCEAlLfBQYWvHEa97njR_04mp_Thandai_shake.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">ButterScotch</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(16)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item16">
            <img src="img/zTfh3UQYRXqiZJyIU26h_1d8f11e9e2cd9b1f7e0536fe73e9785f.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Strawberry</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(17)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item17">
            <img src="img/SeFUA2SVeFxzc1J4lSAd_17918919_1022150551250014_1097248892_n.png">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Mango</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(18)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item18">
            <img src="img/Z5zmwNa6TCqydNMsDx0g_cafffd9ac3b8df60031f50731d48b7e0.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Vanilla</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(19)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item19">
            <img src="img/A8ptejRQefEc6gmNK0gM_04mp_Thandai_shake.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Pineapple</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(20)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item20">
            <img src="img/0n833abCTfd6A7OJLd6A_smoothie_mf_400-04835089b_998_380.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Rasmalai</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(21)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item21">
            <img src="img/m2EvmtDsRkYyz1y24jAA_Milkshakes_Vancouver-984x500.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Healthy Faluda</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>
            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>



      </ion-content>
      </ion-item>
      </ion-list>
    </ion-tab>

    <ion-tab title="Coffee" icon-on="ion-coffee" icon-off="ion-coffee">
      <ion-content>
        <ion-slide-box pager-click="navSlide(index)" auto-paly="true">
          <ion-slide>
            <div class="color-red"></div>
          </ion-slide>
          <ion-slide>
            <div class="color-yellow"></div>
          </ion-slide>
        </ion-slide-box>
        <ion-list id="coffee-list9" class="manual-list-fullwidth">
          <label class="item item-input" id="coffee-search4">
        <i  class="icon ion-search placeholder-icon"></i>

      </label>
          <ion-item ng-click="moveCard(22)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item22">
            <img src="img/nY7imrySAytSwS3Cq4A1_bacon-milkshake.jpg">
            <h2assertive>

              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Cold Coffee</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>

            </h2assertive>
            <div class="cardSlide">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>


          </ion-item>
          <ion-item ng-click="moveCard(23)" class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item23">
            <img src="img/scUZLQtNTK61oQLbAGxV_53860_977.jpg">
            <h2assertive>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star"></i>
              <i class="starcolor ion-android-star-half"></i>
              <div class="userNumber">(678)</div>
              <div class="productName">Sugar Free Coffee</div>
              <div class="productDetail CustomFont"> Kavintage originals</div>
              <div class="productAmountSmall">₹80 (S)</div>
              <div class="productAmountMedium">₹100 (M)</div>
              <i class="icon ion-android-cart iconNew starcolor"></i>


            </h2assertive>
            <div class="cardSlide">

              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">500ml</p>
              <p class="mLtext123">500ml</p>

            </div>
            <div class="cardSlide right">
              <div class="bottleAndButtons">
                <i class="ion-ios-minus-outline subIconLeftAndRight"></i>
                <img class="MilkBottle" src="img/milk-bottle.png"></img>
                <i class="ion-ios-plus-outline subIconLeftAndRight"></i>
              </div>
              <p class="mLtext">300ml</p>
            </div>

      </ion-content>
      </ion-item>
      </ion-list>
    </ion-tab>
  </ion-tabs>
  <ion-content ng-controller="ExampleController">
    <ion-slide-box pager-click="navSlide(index)">
      <ion-slide>
        <div class="color-red"></div>
      </ion-slide>
      <ion-slide>
        <div class="color-yellow"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-pane>
