<ion-pane ng-controller="ExampleController">
  <ion-tabs class="tabs-negetive tabs-icon-top tabs-color-active-custom">
    <ion-tab class="" title="Thick Shakes " icon-on="ion-beer" icon-off="ion-beer">
      <ion-content>
        <ion-slide-box pager-click="navSlide(index)">
          <ion-slide>
            <div class="color-red"></div>
          </ion-slide>
          <ion-slide>
            <div class="color-yellow"></div>
          </ion-slide>
        </ion-slide-box>
        <ion-list id="thickShakes-list5" class="manual-list-fullwidth">
          <label class="item item-input" id="thickShakes-search1" name="Search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Enter your item">
      </label>
          <!-- slideOutLeft  -->

            <ion-item class="list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item13">
            <img src="img/SeFUA2SVeFxzc1J4lSAd_17918919_1022150551250014_1097248892_n.png">
            <h2assertive><br>KitKat Milkshake
              <i ng-click="animateVisualsRight(13)" class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
        </ion-list>
        <ion-item class="list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item56">
          <img src="img/YV0asZCURx6wgvPzdXvP_53860_977.jpg">
          <h2assertive><br>Oreo Milkshake
            <i  class="icon ion-android-cart"></i>
          </h2assertive>
        </ion-item>
        <ion-list id="thickShakes-list6" class="manual-list-fullwidth">
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item15">
            <img src="img/uyGIF5ZMRVG6N0FA5sNI_Tutty-fruity-shake.jpg">
            <h2assertive><br>Tutty Frutt
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item17">
            <img src="img/HMklG4vKTPGEzQ1MMqCo_04mp_Thandai_shake.jpg">
            <h2assertive><br>Thandai
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item19">
            <img src="img/Es9Ry8GVRPek1cLIeL5i_1d8f11e9e2cd9b1f7e0536fe73e9785f.jpg">
            <h2assertive><br>Kesar Badam
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item23">
            <img src="img/0gbhfLMCQRWu9kLMN4Hh_bacon-milkshake.jpg">
            <h2assertive><br>Mint Oreo
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item20">
            <img src="img/ttIzfQ0BQd6SMGIQE0VB_cafffd9ac3b8df60031f50731d48b7e0.jpg">
            <h2assertive><br>Strawberry Savory
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated  list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item21">
            <img src="img/KHu1yFrQS6fWZPxkrcNJ_17918919_1022150551250014_1097248892_n.png">
            <h2assertive><br>Chocolate Hazelnut
              <i class="icon ion-android-cart"></i>
            </h2assertive>

          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item18">
            <img src="img/pItHvPi7RjO6hIfCMQFU_53860_977.jpg">
            <h2assertive><br>Chocolate Peanut Butter
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="thickShakes-list-item22">
            <img src="img/dzNHjf8xS3udm1QnpjkI_53860_977.jpg">
            <h2assertive><br>Choco Chips
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>



          <!-- <ion-item ng-repeat="item in [1,2,3,4,5,6,7,8,9]" class="custom-item">
      Item {{item}}
      </ion-item> -->
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="Thick Shakes" icon-on="ion-wineglass" icon-off="ion-wineglass">
      <ion-content>
        <ion-slide-box pager-click="navSlide(index)">
          <ion-slide>
            <div class="color-red"></div>
          </ion-slide>
          <ion-slide>
            <div class="color-yellow"></div>
          </ion-slide>
        </ion-slide-box>
        <ion-list id="realShakes-list8" class="manual-list-fullwidth">
          <label class="item item-input" id="realShakes-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Enter your Item">
      </label>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="realShakes-list-item32">
            <img src="img/UsbFYy5QZSBnspPIuLw8_04mp_Thandai_shake.jpg">
            <h2assertive><br>Kavintage raspberry
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="realShakes-list-item34">
            <img src="img/DD3I0V6ASYKWrGObgQS8_cafffd9ac3b8df60031f50731d48b7e0.jpg">
            <h2assertive><br>Kavintage Blueberry
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="realShakes-list-item35">
            <img src="img/nY7imrySAytSwS3Cq4A1_bacon-milkshake.jpg">
            <h2assertive><br>Alphonso Mango
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="realShakes-list-item33">
            <img src="img/scUZLQtNTK61oQLbAGxV_53860_977.jpg">
            <h2assertive><br>Exotique Strawberry
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="Coffee" icon-on="ion-beaker" icon-off="ion-beaker">
      <ion-content>
        <ion-slide-box pager-click="navSlide(index)" auto-paly="true">
          <ion-slide>
            <div class="color-red"></div>
          </ion-slide>
          <ion-slide>
            <div class="color-yellow"></div>
          </ion-slide>
        </ion-slide-box>
        <ion-list id="flavouredMilk-list7" class="manual-list-fullwidth">
          <label class="item item-input" id="flavouredMilk-search2">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Enter your Item">
    </label>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="flavouredMilk-list-item24">
            <img src="img/xCEAlLfBQYWvHEa97njR_04mp_Thandai_shake.jpg">
            <h2assertive><br>Butter Scotch
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="flavouredMilk-list-item25">
            <img src="img/zTfh3UQYRXqiZJyIU26h_1d8f11e9e2cd9b1f7e0536fe73e9785f.jpg">
            <h2assertive><br>Strawberry
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="flavouredMilk-list-item27">
            <img src="img/SeFUA2SVeFxzc1J4lSAd_17918919_1022150551250014_1097248892_n.png">
            <h2assertive><br>Mango
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="flavouredMilk-list-item29">
            <img src="img/Z5zmwNa6TCqydNMsDx0g_cafffd9ac3b8df60031f50731d48b7e0.jpg">
            <h2assertive><br>Vanilla
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="flavouredMilk-list-item28">
            <img src="img/A8ptejRQefEc6gmNK0gM_04mp_Thandai_shake.jpg">
            <h2assertive><br>Pineapple
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="flavouredMilk-list-item26">
            <img src="img/0n833abCTfd6A7OJLd6A_smoothie_mf_400-04835089b_998_380.jpg">
            <h2assertive><br>ras malai
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="flavouredMilk-list-item30">
            <img src="img/m2EvmtDsRkYyz1y24jAA_Milkshakes_Vancouver-984x500.jpg">
            <h2assertive><br>Healthy Faluda
              <i class="icon ion-android-cart"></i>
            </h2assertive>

      </ion-content>
      </ion-item>
      </ion-list>
    </ion-tab>

    <ion-tab title="Coffee" icon-on="ion-coffee" icon-off="ion-coffee">
      <ion-content>
        <ion-slide-box pager-click="navSlide(index)" auto-paly="true">
          <ion-slide>
            <div class="color-red"></div>
          </ion-slide>
          <ion-slide>
            <div class="color-yellow"></div>
          </ion-slide>
        </ion-slide-box>
        <ion-list id="coffee-list9" class="manual-list-fullwidth">
          <label class="item item-input" id="coffee-search4">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Enter your Item">
      </label>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="coffee-list-item36">
            <img src="img/nY7imrySAytSwS3Cq4A1_bacon-milkshake.jpg">
            <h2assertive><br>Cold Coffee
              <i class="icon ion-android-cart"></i>
            </h2assertive>
          </ion-item>
          <ion-item class="zoomInRight animated list_border_mainmenu card_menu_text item-thumbnail-left item-icon-right assertive" id="coffee-list-item37">
            <img src="img/scUZLQtNTK61oQLbAGxV_53860_977.jpg">
            <h2assertive><br>Sugar Free Coffee
              <i class="icon ion-android-cart"></i>
            </h2assertive>

      </ion-content>
      </ion-item>
      </ion-list>
    </ion-tab>
  </ion-tabs>

  <ion-content ng-controller="ExampleController">
    <ion-slide-box pager-click="navSlide(index)">
      <ion-slide>
        <div class="color-red"></div>
      </ion-slide>
      <ion-slide>
        <div class="color-yellow"></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-pane>
