/* Empty. Add your own CSS if you like */


/* Empty. Add your own CSS if you like */

.slider {
  height: 40%;
  text-align: center;
  padding-top: 40px;
}

.scroll {
  height: 100%;
}

.white {
  color: white;
}

.color-red {
  background: url(../img/addtext_com_MTAwMzQyMjIyNDA.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.custom_color {
  font-size: 64px;
  color: #4d4d4a;
}

.color-yellow {
  background-image: url("http://del.h-cdn.co/assets/15/24/1600x800/gallery-1434133241-milkshakes.jpg");
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.custom_tab_color {
  background-color: black;
}

.BlackBackground {
  background-color: black;
  height: 800px;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  color: white;
}


ion-tabs .tab-item {
  color: #ffffff;
}


.item_details {
  color: #61605f;
  font-size: 13px;
}

.custom_image {
  width: 100%;
  height: 100%;
}


.list_border {
  top: 5px;
  font-size: 12px !important;
  color: rgb(119, 119, 119);
}

.title {
  font-size: 12px !important;
  font-family: 'Maven Pro', sans-serif;
}



.list_border_mainmenu {
  top: 5px;
}

.custom_font {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px !important;
  color: #4d4d4a;
}

.main_side_list_text {
  font-size: 18px !important;
}

.sider {
  align="left";
}

.iconAllignCenter {
  align-items: center;
}

.dark .item {
  backqground-color: #3f4041;
  border: none;
  border-top: 1px solid #464646;
  border-bottom: 2px solid #333333;
  /*padding: 20px;*/
  max-height: none;
}

.ListAnimation {
  -webkit-animation: fadeInRignt 1s;
  animation: fadeInRight 1s;
}


/*--------------------------Animations--------------------------*/

.spin {
  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: 1;
}

@keyframes spin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.list_border_mainmenu.card_menu_text {
  /*width: calc(100% + 400px);*/
  width: 200%;
}

.icon.ion-android-cart {
  margin-right: 50%;
}

.list_border_mainmenu {
  padding-bottom: 0px;
}

.MilkBottle {
  margin-top: 25px;
  height: 50px;
}

.cardSlide {
  display: inline-block;
  float: right;
  background-color: rgb(235, 235, 235);
  width: calc(50vw - 2px);
  height: 100px;
  position: relative;
  margin-top: -8px;
  padding: -2px;
  /*border: 1px groove black;*/
  height: 100px;
}

.cardSlide.right {
  border-right: 1px solid rgb(221, 221, 221);
}

.subIcon {
  margin-bottom: 20px;
}

.subIconLeftAndRight {
  display: inline-flex;
  font-size: 15px;
  padding: 10px 10px 5px 10px;
  vertical-align: middle;
  margin-top: -40px;
  margin-bottom: 0px;
}

.orderCount {
  height: 20px;
  width: 20px;
  background-color: black;
}


h2assertive {
  display: inline-block;
}

.productName {
  /*font-style: italic;*/
  font-family: FontAwesome;
  font-size: 20px;
}

.list_border_mainmenu {
  padding-right: 0px;
}



.mLtext {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.mLtext123 {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.iconNew {
  opacity: 0.9;
  /*font-size: 10000px;*/
  /*border  : 1px solid #464646;*/
}

.icon.ion-android-cart.iconNew {
  font-size: 20px;
}



.userNumber {
  display: inline-block;
  opacity: 0.5;
    font-size: 10px;
  font-family: monospace;
}

.productDetail {
  opacity: 0.5;
  font-size: 12px;
}

.deliveryDetails {
  opacity: 0.5;
  font-size: 10px;
  float: right;
}

.productAmount {
  font-size: 12px;
  opacity: 0.5;
  color: rgb(98, 98, 98);
}

.productAmountMedium {
  padding-left: 5px;
  font-size: 10px;
  opacity: 0.5;
  display: inline-block;
}

.productAmountSmall {
  font-size: 10px;
  opacity: 0.5;
  display: inline-block;
}

.CustomFont {
  font-family: "DancingScript";
}

.icon.ion-ios-cart.leftAlign{
   display: inline-block;
}

.orderDetailsItem{
width: calc(100vw - 20px);
}

.orderPrice{
  float: right;
}

.orderQuantity{

  font-size: 12px;
  color: rgb(170, 170, 170);

}

.bottleAndButtons {
  display: table;
  margin: 0 auto;
  color: #fb4500;
}

.black {
  background-color: #fb4500;
  color: white;
  font-size: 18px !important;
  font-family: 'fantacy';
}

.tabs-negetive>.tabs {
  background-color: #fb4500;
  !important;
}

.item .numberInsideBottle {
  height: 20px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-top: -35px;
  margin-right: 1px;
  font-size: 16px;
  color: #fb4500;
}

.starcolor {
  color: #fb4500;
}

.card_menu_text {
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  color: black;
  /*text-align: center;*/
  background-color: #ffedee !important;
}

.orange {
  color: #f0632e;
}
